h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;
}

/* idea  */

.idea span {
    background: #f8aa27;
    width: 15px;
    height: 2px;
    display: inline-block;
}

.first h2 {
    color: #000;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: right;
}

.first p {
    color: #959595;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: right;
    line-height: 23px;
    font-weight: 500;
}

.second h2 {
    color: #000;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.second p {
    color: #959595;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    line-height: 23px;
    font-weight: 500;
}

.circle-bg {
    position: relative;
    display: flex;
    justify-content: center;
}

.circle-bg .circle-1 {
    width: 70px;
    height: 70px;
    background: #f5f4f4;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-left: 2px solid #fff;
    border-top: 2px solid #f8aa27;
    border-bottom: 2px solid #fff;
}

.circle-bg .circle-2 {
    width: 70px;
    height: 70px;
    background: #f5f4f4;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-right: 2px solid #f8aa27;
    border-bottom: 2px solid #f8aa27;
}

.circle-bg .circle-3 {
    width: 70px;
    height: 70px;
    background: #f5f4f4;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border-left: 2px solid #fff;
    border-top: 2px solid #f8aa27;
    border-right: 2px solid #f8aa27;
    border-bottom: 2px solid #f8aa27;
}

.circle-bg .circle-4 {
    width: 70px;
    height: 70px;
    background: #f5f4f4;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    border: 2px solid #f8aa27;
}

/* project */

.img .recent-img {
    overflow: hidden;
}

.img .recent-img img {
    width: 100%;
    transform: scale(1);
    transition: all .5s ease-out 0s;
}

.img:hover .recent-img img {
    transform: scale(1.1)
}

.project span {
    background: #f8aa27;
    width: 15%;
    height: 2px;
}

/* team */

.team .team-info {
    background: #fff;
    padding: 20px 10px;
    margin: 0px 25px;
    text-align: center;
    border-bottom: 2px solid #f8aa27;
    width: 83%;
    margin-top: -50px;
    z-index: 100;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(18, 15, 80, 0.1);
    transition: all .5s ease-out 0s;
}

.team .team-info:hover {
    background-color: #2c2c2cc2;
    color: #fff;
}

/* service */

.image-1 {
    transition: all .8s ease-in;
    width: 100%;
    height: 100%;
}

.image-2 {
    opacity: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transition: all .8s ease-out 0s;
}

.image {
    position: relative;
}

.image:hover .image-1 {
    opacity: 0;
}

.image:hover .image-2 {
    opacity: 1;
}

.icon i {
    color: #f8aa27;
    transition: all .5s ease-out 0s;
}

.icon i:hover {
    background-color: #f8aa27;
    color: #fff;
}

.service {
    background-image: url(../img/service-bg.jpg);
}

.service span {
    background: #f8aa27;
    width: 15px;
    height: 2px;
    display: inline-block;
}

.service a {
    transition: all .5s linear 0s;
}

.service a:hover {
    color: #f8aa27 !important;
    background-color: #fff !important;
}

/* testimonial */

.tes-active:hover .tes-icon .ani-btn {
    animation: 1.3s cubic-bezier(0.8, 0, 0, 1) 0s normal infinite running pluse;
    box-shadow: 0 0 0 0 #f8ab2756;
    -webkit-animation: 1.3s cubic-bezier(0.8, 0, 0, 1) 0s normal infinite running pluse;
}

@keyframes pluse {
    100% {
        box-shadow: 0 0 0 45px rgba(226, 14, 14, 0);
    }
}

@-webkit-keyframes pluse {
    100% {
        box-shadow: 0 0 0 45px rgba(230, 10, 10, 0);
    }
}

/* blog */

.blog .blog-info-1 {
    background: #f8ab2756;
    padding: 50px 10px;
    text-align: center;
    z-index: 100;
    position: relative;
    right: 20%;
    box-shadow: 0px 10px 30px 0px rgba(18, 15, 80, 0.1);
}

.blog .blog-info-2 {
    background: #f8ab2756;
    padding: 50px 10px;
    text-align: center;
    z-index: 100;
    position: relative;
    left: 20%;
    box-shadow: 0px 10px 30px 0px rgba(18, 15, 80, 0.1);
}

.blog-img {
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    transform: scale(1.5);
    transition: all .5s ease-out 0s;
}

.blog-img:hover img {
    transform: scale(1)
}

.blog .bottom a {
    transition: all .5s ease-out 0s;
}

.blog .bottom a:hover {
    border: none;
    color: #f8aa27 !important;
}

/* contact */

.contact button {
    color: #f8aa27 !important;
    transition: all .5s linear 0s;
}

.contact button:hover {
    color: #ffff !important;
    background-color: #f8aa27 !important;
}

.contact .card {
    transition: all .5s linear 0s;
}

.contact .card:hover {
    background: #f8ab2756 !important;
}

/* footer */

.footer span {
    background: #f8aa27;
    width: 30%;
    height: 4px;
    display: inline-block;
}

#particles-js {
    background-color: #2C2C2C;
    width: 100%;
    height: 50px;
}